/*reset start*/
* {
    margin: 0;
    padding: 0; 
    border: 0; 
    background: transparent; 
    outline: none; 
    text-decoration: none; 
    font-family: inherit; 
    box-sizing: border-box;
}

ol, 
ul, 
li {
    list-style: none; 
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

button, 
a {
    cursor: pointer; 
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important; 
    border-radius: 0;
}
/*reset end*/

body {
    height: 100vh;
    background-color: #6689a2;
    color: white;

    font-family: 'Playball', cursive;
    font-size: 24pt;
    text-shadow: 2px 2px 4px #000000;

    #upload {
        width: 200px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: #c3c7d2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        //transition: width height;

/*         &:hover {
            width: 220px;
            height: 80px;
            transition-duration: 1s;
        } */

        p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        #drag-n-drop {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            opacity: 0;        
        }
    }
}